$primary:		rgba(#d38aea, 1.0);
$secondary:		rgba(#a0c980, 1.0);
$onPrimary:		rgba(#2c2e34, 1.0);
$onSecondary:	rgba(#2c2e34, 1.0);
$surface:		rgba(#2c2e34, 1.0);
$onSurface:		rgba(#c5cdd9, 1.0);
$transparent:	rgba(0, 0, 0, 0);

$gapSize:			15px;
$bodyMargin:		0.6rem;
$cornerRadiusLarge:	1.2rem;

// @define-color Primary #d38aea;

@function surface($amount) {
	@return transparentize($surface, $amount);
}

* { all: unset; }

.bounding {
	background-color: $surface;
	padding: $bodyMargin;
	border-radius: $cornerRadiusLarge;
}

.musicArt {
	min-height: 260px;
	min-width: 260px;
	background-size: 260px;
}

.bubble {
	background-color: surface(0);
	padding: $bodyMargin;
	border-radius: $cornerRadiusLarge;

	&.d1 { background-color: surface(0.2); }
	&.d2 { background-color: surface(0.4); }
	&.d3 { background-color: surface(0.5); }
	&.d4 { background-color: surface(0.6); }
	&.d5 { background-color: surface(0.5); }

	.bin {
		padding-left: $bodyMargin;
		padding-right: $bodyMargin;
	}
}

.side {
	margin-left: $gapSize;
	margin-right: $gapSize;
}

.fa-icon {
	.white {
		//fill: white;
	}
}

// Workspace Indicators styling
.workspaces-bar {

	.indicator {
		min-width: 16px;
		min-height: 16px;
		border-radius: 10px;
		border: dashed 2px $onSurface;
		opacity: 0.5;
		transition: opacity 0.4s;

		&:hover {
			opacity: 1;
		}

		.inner {
			opacity: 0;
			margin: 4px;
			border-radius: 50%;
			border: dashed 2px $onSurface;
			transition: opacity 0.4s;
		}

		&.visible:not(.focused) .inner {
			opacity: 1;
		}

		&.focused {
			background-color: $onSurface;
		}

		&.urgent {
			border-color: $primary;

			&.visible .inner {
				border-color: $primary;
			}
		}

		&.exists {
			opacity: 1;
			border-style: solid;
			transition: background-color 0.4s;

			&:hover {
				background-color: $onSurface;
			}
		}
	}
}

.wrap-bottom {
	margin-bottom: 15px;
}
