/**
 * Josiah Hilden
 * 2021
 * vim:ft=css
 */


configuration {
	modi: [drun, window, ssh];
	show-icons: true;
	terminal: "alacritty";
	sidebar-mode: true;
	matching: "fuzzy"; // Seems to fuck up searching for apps for some reason
	sorting: "fzf"; // This seems to fix fuzzy matching
	kb-mode-next: "Super+Tab,Super+space";
	window-format: "{c}	{t}	{w}";
	window-match-fields: "class"; // title?
	drun-match-fields: "name"; //
}

@theme "center"
